name: limits-service

on:
  push:
    branches: ["master"]
    paths:
      - 'microservices/limits-service/**'
      - '.github/workflows/limits.yml'

  pull_request:
    paths:
      - 'microservices/limits-service/**'

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Gitleaks Scan
        uses: gitleaks/gitleaks-action@v2
        with:
          args: detect --source . --verbose

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: maven

      - name: Build Package
        working-directory: microservices/limits-service
        run: mvn -B clean verify -DskipTests
