name: spring-cloud-ci

on:
  push:
    branches: ["master"]
    paths:
      - 'microservices/spring-cloud-config-server/**'
      - '.github/workflows/spring-cloud.yml'

  pull_request:
    paths:
      - 'microservices/spring-cloud-config-server/**'

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Gitleaks Scan
        uses: gitleaks/gitleaks-action@v2
        with:
          args: detect --source . --verbose


      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: maven

      - name: Build
        working-directory: microservices/spring-cloud-config-server
        run: mvn -B clean verify
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        with:
          projectBaseDir: microservices/currency-exchange-service
          args: >
           -Dsonar.projectKey=kmoha365_micro-services-project
           -Dsonar.organization=kmoha365
           -Dsonar.java.binaries=target/classes
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}



      - name: Upload JAR
        uses: actions/upload-artifact@v4
        with:
          name: spring-cloud-config-server-jar
          path: microservices/spring-cloud-config-server/target/*.jar
